.reveal {
	ul {
		.no-style {
			list-style: none;
			margin-left: -36px;
		}

		.twitter {
			&:before {
				image-li("../assets/images/twitter.png")
			}
		}

		.github:before {
			image-li("../assets/images/GitHub-Mark/PNG/GitHub-Mark-32px.png")
		}
	}
}
