.reveal {
	.removeFormatting {
		border: none !important;
		background: none !important;
		box-shadow: none !important
		margin: 0;
	}

	.iconed-title {
		position: relative;
		display: inline;
	}

	.new-title-icon {
		width: 100px;
		position: absolute;
		top: -50px;
		right: -90px
	}

	svg,
	img {
		max-height: 90vh;
		max-width: 90vw;
	}
}
